@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

$fontPhone: Arial, Helvetica, sans-serif;
$fontSlider: 'Cormorant';
$fontLogo:'Prata', serif;
$orange: #A68E52;
$gray:#DDDDDD;
$navBar: #757575;
$white: #FDFBFB;
$galaryBackground:#E5E5E5;
