@media screen and (min-width: 1100px){
    .slide {
        padding: 22px 45px;

        &-counter{
            top: 40%;
            height: 78px;
        }

        &-footer{
            padding-left: 4.6%;
        }

        .info{
            left: 7%;
            width: 233px;
        }
    
        .phone{
            grid-template-columns: 30px 113px;
        }
    
    }

    .main-text {
        width: 47.5%;
        max-width: 570px;
        min-width: 450px;
    }

    .slider .navigation{
        left:105px;
    }

    /*GALLERY*/
    .gallery{
        .tree{
            top: 15%;
            width: 373px;
            height: 457px;
        }

        .tabs{
            width: 45%;
            bottom: 103px;
        }

        .photoes{
            left: 20vw;
            width: 80vw;
            
            .photo-display {
                width: 95%;
                height: 87%;
            }

            .photo-query {
                 background-color: $galaryBackground;
                height: 14%;
                bottom: 0px;
                width: 65%;
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1099px){
    .slide {
        padding: 22px 45px;

        &-counter{
            top: 40%;
            height: 78px;
        }

        &-footer{
            padding-left: 4%;
        }
    }

    .info{
        left: 17%;
        width: 233px;
    }

    .phone{
        grid-template-columns: 30px 113px;
    }

    .main-text {
        width: 47.5%;
        max-width: 570px;
        min-width: 450px;
    }

    .slider .navigation{
        left:105px;
    }

    /*GALLERY*/
    .gallery{
        .tabs{
            width: 100%;
            bottom: 235px;

            .tab {
                width: 50%;
            }
        }
  
        .photoes{
            left: 0%;
            width: 100%;

            .photo-display {
                width: 100%;
                height: 77%;
            }
        }
        .photo-query {
            bottom: 0px;
            width: 100%;
            height: 10%;
        }
    }
}

@media screen and (max-width:599px){
    /*SLIDER*/
    .slider .slide.slide-2 .logo{
        &::after {
            left: 75%;
        }   
    }
    
    .slide {
        padding: 15px;
        
        &-header{
            justify-content: space-between;
        }

        &-counter{
            left:0px;
            top: 42%;
            height: 55px;
        }

        &-footer{
            padding-left: 0;
            .address{
                min-width: 250px;
            }
        }
    }

    .info{
        width: 40%;
        left:60%;
    }

    .slider .navigation{
        left:60px;
    }

    .phone{
        &-number,&-action{
            display: none;
        }
    }

    .main-text {
        width: 100%;
        max-width: 400px;
        min-width: 280px;
        font-size: 46px;
    }

    .btn {
        align-self: center;
    }
    /*********************/
    /*GALLERY*/
    /*GALLERY*/
    .gallery{

        .tree{
            bottom: 0;
        }
        .tabs{
            width: 100%;
            bottom:32%;

            .navigation {
                .navBar {
                    margin-right: 15px;
                }
                .left {
                    margin: 0 15px;
                }
            }
        }
  
        .photoes{
            left: 0%;
            width: 100%;

            .photo-display {
                width: 100%;
                height: 62%;
            }
        }
        .photo-query {
            bottom: 0px;
            width: 95%;
            height: 11%;
            .photo.checked {
                margin: 0 10px;
            }
        }
    }
}