@import "config";
@import 'mixin';
@import 'setting';

.form {
    background-color: $white;
    width: 65%;
    top: 10%;
    left: 20%;
    display: none;
    z-index: 100;
    max-width: 800px;
    min-width: 350px;
    padding: 20px;
    position: absolute;

    &-content {
        position: relative;
        z-index: 110;
        border: 1px solid $orange;
        padding: 52px 47px;
        width: 100%;

        .main-text {
            width: 50%;
        }
    }

    &-img {
        @include sliderConfig("../svg/gallary/House1.png");
        position: absolute;
        right: 0;
        top: 0;
        z-index: 90;
        height: 100%;
    }

    .close {
        @include circleDrow(42px);
        background: rgba($color: $black, $alpha: .3);
        border: 0.5px solid #A68E52;
        outline: none;
        position: absolute;
        right: 17px;
        top: 18px;
        cursor: pointer;
        &:after {
            padding-top: 2px;
            content: url('/svg/Union.png');
            border: 1px solid $white;
            @include circleDrow(29px);
            background-color: $white;
            position: absolute;
        }
    }
}

.request-call {
    margin-top: 30px;
    @include setFlex(space-between, flex-start, column);

    &-input {
        border: none;
        padding-bottom: 10px;
        outline: none;
        border-bottom: 1px solid $orange;
        -webkit-box-shadow: inset 0 0 0 50px $white;
        -webkit-text-fill-color: #000;

        &+& {
            margin-top: 30px;
        }

    }
}

.slider {
    overflow: hidden;
    z-index: 50;

    .navigation {
        width: 205px;
        top: -125px;
        left: 110px;
    }
}

.slide {
    transition: all .8s ease;
    height: 100%;
    @include setFlex(space-between, flex-start, column);
    position: relative;
    padding: 22px 45px;

    &-1 {
        @include sliderConfig("../svg/header-bg1.png");
    }

    &-2 {
        @include sliderConfig("../svg/header-bg2.png");

        .logo {
            width: 69px;
            @include setText($fontLogo, 24.5753px, 500);
            color: $gray;
            position: relative;
            text-transform: uppercase;
            margin-top: 15px;

            &::before {
                position: absolute;
                top: -15px;
                @include setFlex(flex-start, center, row);
                content: 'КЛУБНЫЙ';
                @include setText($fontSlider, 13.2329px, 500);
            }

            &::after {
                content: "";
                position: absolute;
                top: 35%;
                left: 38%;
                @include circleDrow(3.78px);
                background-color: $orange;
                border: 1px solid $orange;
            }
        }
    }

    &-header {
        display: flex;
        width: 100%;

        .phone {
            display: grid;
            grid-template-columns: 30px 113px;
            grid-template-rows: 1fr 1fr;
            column-gap: 10px;
            grid-template-areas: 'i phone''i info';

            &-number {
                color: $orange;
                font-size: 14px;
                grid-area: phone;
            }

            &-action {
                font-size: 10px;
                width: 78px;
                line-height: 16px;
                color: $gray;
                position: relative;
                grid-area: info;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 110%;
                    left: 0;
                    background-color: $orange;
                    transition: transform .5s ease-in;
                }

                &:hover::after {
                    transform: rotate(180deg);
                }
            }

            .icon-circle {
                color: $orange;
            }
        }

        .language {
            .icon-circle {
                color: $gray;
                letter-spacing: 0.05em;
                font-size: 10px;
                text-transform: uppercase;
            }
        }

    }

    &-counter {
        width: 1px;
        background-color: $navBar;
        height: 78px;
        top: 35%;
        position: absolute;

        span {
            display: inline-block;
            transform: rotate(-90deg);
        }

        &-checked {
            position: absolute;
            color: $orange;
            font-size: 12px;
            left: -5px;
            top: -25px;
        }

        &-unchecked {
            position: absolute;
            color: $navBar;
            font-size: 10px;
            left: -5px;
            top: 90px;
        }

        &-d {
            position: absolute;
            width: 1px;
            height: 25px;
            display: inline-block;
            background-color: $white;
        }
    }

    &-main {
        padding-left: 4.6%;

        .main-text {
            width: 47.5%;
            max-width: 570px;
            color: $white;
            min-width: 450px;
        }

        .sub-text {
            color: $orange;
            margin-bottom: 8px;
        }
    }

    &-footer {
        width: 100%;
        @include setFlex(space-between, flex-end, row);
        color: $gray;
        opacity: .7;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 10px;
        padding-left: 4.6%;

        .subway {
            border: 1px solid $orange;
            @include circleDrow(15px);
            display: inline-block;
            position: relative;

            &::before {
                position: absolute;
                left: 2px;
                top: 1px;
                @include setText($fontPhone, 10, 550);
                font-style: normal;
                content: 'M';
                color: $orange;
            }
        }

        .address {
            width: 38%;
            min-width: 308px;
            @include setFlex(space-between, flex-start, row);


            &-item {
                @include setFlex(flex-start, center, row);

                span {
                    margin-left: 10px;
                }
            }
        }
    }
}


.navBar {
    @include circleDrow(8px);
    background-color: $gray;
    transition: all .4s ease;

    &:hover {
        background-color: $navBar;
    }

    &.checked {
        background-color: $navBar;
    }
}


.icon-circle {
    border: 1px solid #757575;
    @include circleDrow(30px);
    margin-top: 2px;
    grid-area: i;
}

.info {
    font-style: normal;
    @include setText($fontPhone, 14px, normal);
    padding: 1px;
    height: 43px;
    width: 233px;
    left: 15%;
    top: 0px;
    position: relative;
    @include setFlex(space-between, flex-start, row);
}

/*NAVIGATION*/

nav {
    z-index: 40;
    top: 20px;
    width: 60px;
    height: 75vh;
    @include setFlex(space-between, flex-start, column);
    position: fixed;
    padding: 20px 0 10px 25px;

    .nav-arrows {
        width: 10px;
        height: 60px;
        @include setFlex(space-between, center, column);

        .left {
            transform: rotate(180deg);
        }
    }
}

.checkedNav {
    background-color: $orange;
    position: relative;

    &::after {
        opacity: 0.5;
        position: absolute;
        border: 0.5px solid $orange;
        content: "";
        @include circleDrow(20px);
        background-color: $gray;
    }

    &::before {
        content: "";
        position: absolute;
        @include circleDrow(30px);
        border: 1px solid $gray;
    }

}

.galary {
    background-color: $white;

    .tree {
        top: 15%;
        background-image: url('/svg/NYtree.png');
        position: absolute;
        background-size: contain;
        width: 373px;
        height: 457px;
    }

    .navigation {
        background-color: $white;
        padding-right: -30px;
        .navBar:hover, .navBar.checked {
            background-color: $orange;
        }

        .navBar{
            margin-right: 25px;
        }

        .left{
            margin: 0 20px;
        }
    }

    .tabs {
        z-index: 30;
        bottom: 103px;
        width: 45%;
        height: 103px;
        background-color: $white;
    }

    .tab {
        width: 40%;
        text-align: center;

        &:first-child {
            width: 60%;
        }

        &-title {
            &.first {
                text-align: right;
                padding-right: 54px;
            }
        }

        &-content {
            height: 74px;
            padding-left: 40px;
        }
    }


    .tab :checked+.tab-title {
        background-color: $white;
        color: $orange;
    }

    .wrapper {
        height: 100%;
    }

    .photoes {
        width: 80vw;
        height: 100%;
        top: 0;
        left: 20vw;
        position: relative;

        .photo-display {
            position: absolute;
            right: 0;
            width: 95%;
            height: 87%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .photo-query {
            z-index: 15;
            width: 65%;
            @include setFlex(space-between, center, row);
            height: 14%;
            right: 0;
            background-color: $galaryBackground;
            position: absolute;
            bottom: 0px;
            background-color: $galaryBackground;
        }

        .photo {
            width: 18%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }
    }
}

.galaryChecked {
    background-color: $orange;
}

.photo.checked {
    transform: scale(1.4);
    margin: 0 30px;
}

.wrapper.clubRes {
    display: none;
}

.sales {
    background: linear-gradient(180deg, rgba(22, 27, 33, 0) 75.93%, #161B21 99.94%), url('/svg/sales-bg.png');
    padding: 1.6% 9.1% 2% 18%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .main-text{
        color:$black;
    }

    .tabs{
        margin-top: 25px;
        width: 90%;
        height: 77.5vh;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.1);
    }

    .tab{
        width: 25%;
        &-title{
            text-align: center;
        }
        &-content{
            padding: 42px 54px;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .flatTemplate{
        position: absolute;
        left:54px;
        top:42px;
        
    }

    .flatInfo{
        width: 48%;
        height: 38%;
        padding: 20px 30px;
        top: 7%;
        right: 5%;
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(19, 20, 20, 0.05);
        position: absolute;

        &-title{
            @include setText('Cormorant',30px,500);
        }
        &-detailed{
            margin-top: 20px;
            @include setFlex(space-between,center,row);
            width: 100%;
            .column1,.column2{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
            }

            .column1::after{
                content: "";
                position: absolute;
                width:1px;
                height: 100%;
                top:0;
                left: 125%;
                background-color: $gray;
            }

            .column-item{
                @include setFlex(space-between,center,row);
                width: 100%;
                @include setText($fontPhone,12px,400);

                &-title{
                    color: $navBar;
                    text-align: left;
                }
                &-value{
                    padding-left: 1px;
                    width: 45px;
                    color:$black;
                    text-align: left;
                }
            }
            .column-item + .column-item{
                margin-top: 8px;
            }
        }
    }

    .subtabsNav{
        position: relative;
        z-index: 40;
        top:40%;
        left: 17%;
        .navBar:hover, .navBar.checked {
            background-color: $orange;
        }

        .navBar{
            margin-right: 25px;
        }

        .left{
            margin: 0 20px;
        }
    }

    .subtabs{
        .tab-title{
            @include setText($fontPhone, 12px, 400);
            background-color: white;
            color: $gray;
        }
    }

    .sub{
        position: absolute;
        width: 100%;
        background-color: blue;
    }

    .tab :checked+.tab-title {
        background-color:  #FFFFFF;
        color: $orange;
    }
    
    .subtabs .tab :checked+.tab-title {
        color: $black;
    }
}
